/* src/App.css */
body {
  font-family: sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.app {
  background: white;
  width: 500px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  margin-bottom: 20px;
}

form input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

form button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #5c67f2;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li span {
  cursor: pointer;
  flex-grow: 1;
  color: #303030;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: #aaaaaa;
}

.todo-list li button {
  background: #f44336;
  color: rgb(205, 205, 205);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0; /* Sembunyikan tombol hapus secara default */
  transition: opacity 0.2s;
}

.todo-list li:hover button {
  opacity: 1; /* Tampilkan saat list item di-hover */
}